binary "https://www.mapbox.com/ios-sdk/Mapbox-iOS-SDK.json" ~> 5.2
binary "https://www.mapbox.com/ios-sdk/MapboxNavigationNative.json" ~> 6.2.1
github "Hitta/MapboxDirections.swift" "hitta"
github "mapbox/turf-swift" ~> 0.3
github "Hitta/mapbox-events-ios" "hitta"
github "ceeK/Solar" ~> 2.1.0
github "Hitta/mapbox-speech-swift" "hitta"
